p, h1 {
    font-family: 'Droid Sans', sans-serif;
}

/* BOOTSTRAP Buttons */
.btn-trans {
  color: #ffffff;
  background-color: transparent;
  border-color: #FFFFFF;
}

.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
  color: #ffffff;
  background-color: #235378;
  border-color: #FFFFFF;
}

.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
  background-image: none;
}

.btn-trans.disabled,
.btn-trans[disabled],
fieldset[disabled] .btn-trans,
.btn-trans.disabled:hover,
.btn-trans[disabled]:hover,
fieldset[disabled] .btn-trans:hover,
.btn-trans.disabled:focus,
.btn-trans[disabled]:focus,
fieldset[disabled] .btn-trans:focus,
.btn-trans.disabled:active,
.btn-trans[disabled]:active,
fieldset[disabled] .btn-trans:active,
.btn-trans.disabled.active,
.btn-trans[disabled].active,
fieldset[disabled] .btn-trans.active {
  background-color: #611BBD;
  border-color: #FFFFFF;
}

.btn-trans .badge {
  color: #611BBD;
  background-color: #ffffff;
}



/* NAVBAR */
.navbar {
    background-color: #242424;
    border-bottom: 1px solid #B9B9B9;
    font-family: 'Lato', sans-serif;
    }

.navbar-default .navbar-nav>li>a {
    color: #CCC;
    }

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #646464;
    }

.navbar-default .navbar-brand {
        color: white;
        font-size: 1.5em;
    }


/* HEADER */
.header {
    padding:140px 0 60px;
    background: url(../img/bg.jpg) no-repeat center center;
    /* to be sure that the image will be centered and 100% full */
    background-size: cover;
    width: 100%;
    border-bottom: 2px solid #C9C9C9;
    }

.header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 7.5em;
    color:white;
    }

.header p {
    color:white;
    font-size: 1.3em;
}

.header .btn {
    padding: 5px 50px;
    border-radius: 0;
}



/* Media Queries */
@media (max-width:768px){

    .header {
        text-align: center;
        padding-top: 20%inherit;
    }

    .header h1 {
        font-size: 5em;
    }

    .header p {
        font-size: 1em;
    }

    .header .btn {
        padding: 5px 12px;
    }

    .header img {
        padding-top: 10%;
    }
} /* END 768 */


/* ABOUT */

.about {
    padding: 100px 0;
    text-align: center;
}

.about h1 {
    font-size: 1.8em;
    color: #337ab7;
    padding: 0 0 25px;
}

.about p {
    padding-bottom: 25px;
}


/* FEATURE */

.features {
    background-color: #337ab7;
    text-align: center;
    color: white;
    padding: 90px 0 90px 0;
}

.features h1 {
    font-size: 2em;
    padding-bottom: 25px;
}

.features img {
    padding: 15px 0 35px;
}


/* PRESS */

.press {
    padding: 90px 0 90px;
    text-align: center;
}

.press h1 {
    font-size: 1.8em;
    padding-bottom: 25px;
    color: #337AB7;
}

.press .press-logo li img {
    opacity: 0.3;
    padding-bottom: 25px;
    transition: all 0.3s ease-in-out;
}

.press .press-logo li:hover img {
    opacity: 1;
}
